---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-integer-division,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-signed-char-misuse,
  -bugprone-use-after-move,
  performance-*,
  -performance-enum-size,
  -performance-move-const-arg,
  portability-*,
  -portability-avoid-pragma-once,
  readability-avoid-const-params-in-decls,
  readability-const-return-type,
  readability-delete-null-pointer,
  readability-deleted-default,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-non-const-parameter,
  readability-redundant-*,
  readability-simplify-*,
  readability-static-*,
  readability-string-compare,
  readability-suspicious-call-argument,
  readability-uniqueptr-delete-release,
  readability-use-anyofallof,
  -readability-redundant-inline-specifier,
  modernize-deprecated-*,
  modernize-loop-convert,
  modernize-make-*,
  modernize-pass-by-value,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-replace-*,
  modernize-return-braced-init-list,
  modernize-shrink-to-fit,
  modernize-unary-static-assert,
  modernize-use-*,
  -modernize-use-constraints,
  -modernize-use-designated-initializers,
  -modernize-use-nodiscard,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -modernize-use-integer-sign-comparison,

WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*zint\.h).*$'
FormatStyle: file
